// Archivo de configuración de variables de entorno para la conexión a la base de datos y el puerto del servidor
DB_HOST=localhost
DB_USER=TU USUARIO
DB_PASSWORD=TU PASSWORD
DB_NAME=employees
PORT=3000