// Archivo de configuración de variables de entorno para la conexión a la base de datos y el puerto del servidor
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=escribe_tu_contraseña_aquí
DB_NAME=employees
PORT=3000